#crx {
    background: url('../images/bg4.jpg') no-repeat center top;

    // padding: 50px;
    .section-title {
        text-align: center;
    }
    .section-content {

        .value-creation {
            h4 {
                color:$cornflower_blue;
                font-weight: bold;
                margin: 35px 0;
            }
            p:nth-child(2){
                font-size:18px; 
            }
            p:nth-child(3){
                font-size: 14px;
            }
        }
        .token-spec {
            .row{
                margin-bottom: 55px;
            }
            .row:not(:last-child){
                .col-4:not(:first-child):before{
                    content: '';
                    width: 1px;
                    height: 65px;
                    left: -10px;
                    top: 0;
                    position: absolute;
                    right: 0;
                    background: $blue_bayoux;
                }
            }
            .row:nth-child(2){
                &:before{
                    content: '';
                    height: 1px;
                    width: 92%;
                    background: $blue_bayoux;
                    position: absolute;
                    left: 14px;
                    margin: 85px 0px;
                }
            }
            .row:nth-child(3){
                &:before{
                    content: '';
                    height: 1px;
                    width: 92%;
                    background: $blue_bayoux;
                    position: absolute;
                    left: 14px;
                    margin: 105px 0px;
                }
                .col-4:nth-child(2), .col-4:nth-child(3){
                    &:before{
                        height: 85px;
                    }
                }
            }
            h4 {
                font-weight: bold;
                margin: 35px 0;
            }
            h5{
                font-weight: 500;
                color: $cornflower_blue;
            }
        }
        .btn {
            border-radius: 20px;
            border: 0;
            background-image: $gradient-btn2;
            margin: auto 0px;
            padding: 10px 20px;
        }
    }
    .chart {
        height: 315px;
        position: relative;
        margin-bottom: 12px;
        #crx-chart, #btc-chart {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 280px;
            height: 280px;
        }
        .current-value { 
            left: 50%;
            top: 50%;
            position: absolute;
            font-family: 'Open Sans',sans-serif;
            font-weight: 500;
            font-size: 30px;
            color: $white;
            letter-spacing: 0;
            width: 140px;
            margin: -25px 0 0 -60px;
            text-align: center;
            span:not(.value){
                margin-left: -8px;
            }
        }
    }
    .cresow-crx-chart .crx-chart-list>li, .cresow-crx-chart .btc-chart-list>li{
        &:nth-child(2) div:before{
            background-image: $gradient_deep_aqua;
        }
        &:nth-child(3) div:before{
            background-image: $gradient_salem_chartreuse;
        }
        &:nth-child(4) div:before{
            background-image: $gradient_persian_violet;
        }
        &:nth-child(5) div:before{
            background-image: $gradient_helio_paris;
        }
        &:nth-child(6) div:before{
            background-image: $gradient_cyan_blue;
        }
        div{
            display: -ms-flexbox;
            // display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: justify;
            // justify-content: space-between;
            background: #002846;
            border-radius: 16px;
            overflow: hidden;
            padding: 5px 16px 5px 54px;
            margin: 10px 0;
            cursor: pointer;
            position: relative;
            &:before{
                content: '';
                background-image : $gradient_yellow_interorange;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 12px;
                top: 50%;
                margin-top: -9px;
                border-radius: 50%;
                box-sizing: border-box;
                z-index: 1;
            }
        }
    }
    .crx-chart-list, .btc-chart-list {
        margin: 0 15% 0 15%;
        padding: 0;
        list-style: none;
        li {
            color:$white;
            font-family: $font-openSans;
            font-size:14px;
            font-weight: lighter;
        }
        li.active {
            color: red;
        }
    }
}

@media screen and (min-width:400px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin: auto -45px;
                }
            }
        }
    }
}

@media screen and (max-width:400px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin-left: -45px;
                }
            }
        }
    }
}

@media screen and (min-width:500px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin: auto 0;
                }
            }
        }
    }
}

@media screen and (min-width:768px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin: auto -50px;
                }
            }
        }
    }
}

@media screen and (min-width:992px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin: auto -25px;
                }
            }
        }
    }
}

@media screen and (min-width:1200px){
    #crx{
        .section-content{
            .row{
                .btn{
                    margin: auto 0;
                }
            }
        }
    }
}